$link = mysql_connect("127.0.0.1","root","")
           or die("Erro de conexão".mysql_error( ));

		   $criabd="CREATE  DATABASE  IF NOT EXISTS  
BD_trabalho";
mysql_query($criabd,$link) 
or die("Erro na criação do banco".mysql_error( ));

mysql_select_db("BD_trabalho", $link)
or die("Erro na seleção do banco".mysql_error());
$criatab="CREATE TABLE IF NOT EXISTS  TAB_alunos (
         nome VARCHAR(40) NOT NULL, 
         time VARCHAR(40) NOT NULL,
         idade int(3) NOT NULL,
		 cidade VARCHAR(40) NOT NULL,
		 email VARCHAR(40) NOT NULL,
		 
         PRIMARY KEY (nome))";
 mysql_query($criatab) 
 or die("Erro na criação da tabela".mysql_error());
 
 $nome1 = $_POST["nome"];
    $time1 = $_POST["time"];
    $idade1 = $_POST["idade"];
	$cidade1 = $_POST["cidade"];
	$email1 = $_POST["email"];
 $incl ="INSERT INTO `bd_trabalho`.`tab_alunos` (`nome`, `time`, `idade`, `cidade`, `email`) VALUES ('$nome1', '$time1', '$idade1', '$cidade1', '$email1')";
 $resultado = mysql_query($incl, $link) 
 or die("Erro de inclusão!".mysql_error());
echo "SEU DADOS FORAM INCUIDOS COM SUCESSO"; 


 
 ?>
 <html>
  <p><a id="bu" href="index.html"/>Voltar para a pagina principal</a></p>
 </html>
